
<div class="home-container">
  <div class="left">
    <div class="left-text">
      <h1 class="color">Chat</h1>
      <h2>About your <strong>MMI’s <br>Project</strong></h2>
    </div>
    <%= link_to "Go to projects", projects_path, :class => "btn-primary" %>
  </div>
  <div class="right">
    <div class="gradient">
      <%= image_tag("Message.svg", :alt => "Chat", :class => "img-message") %>
    </div>
  </div>
</div>
