// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
  h1{
    text-transform: uppercase;
    font-weight: 400;
    margin: 2em 0;
  }
  .projects{
    display: flex;
    flex-wrap: wrap;
    .item{
      position: relative;
      padding: 3em 3em 5em;
      background: linear-gradient(238.92deg, rgba(53, 108, 215, 0.2) 12.45%, rgba(0, 0, 0, 0) 185.58%);
      border-radius: 33px;
      margin: 2em 3em;
      max-width: 300px;
      max-height: 400px;
      .type{
        font-weight: 600;
        text-transform: uppercase;
      }
      .btn-item{
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.left-top{
  width: 40%;
  justify-content: flex-start;
  h1{
    text-transform: uppercase;
    margin: 2em 0 1em 0;
  }
}
.img-light{
  position: absolute;
  top: -20%;
  right: 15%;
  width: 70%;
}
